*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.header img.img-fluid {
    height: 70px;
}
.header nav.navbar.navbar-expand-lg {
    background-color: #163020;
}
.header a.navbar-brand {
    color: white;
    font-size: 2rem;
}
.header a.nav-link {
    color: #fff;
    font-size: 18px;
}
.header a.nav-link:hover
{
    text-decoration: underline;
}
.header .nav-item {
    padding: 0 12px;
}
.login a {
    text-decoration: none;
    background-color: #EEF0E5;
    padding: 10px 30px;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
}
.login a:hover
{
    background-color: #00f;
    color: #fff;
    transition: 0.8s;
}
.imagebox
{
    width: 100%;
    height: 550px;
}
.imagebox img
{
    height: 100%;
    object-fit: fill;
}
span.navbar-toggler-icon {
    color: white;
}


/* about section start */

#aboutus
{
    background-color: #B6C4B6;
    /* height: 400px; */
    padding: 3rem;
}
.aboutcontent
{
    text-align: center;
}
.principle_image
{
    /* width: 400px; */
    height: 300px;
}
.principle_image img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* course section starts */

#course
{
    background: linear-gradient(#000000b3,#000000b3) ,url(../images/gallery.1.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    padding: 3rem 0;

}
.mycourse
{
    color: #fff !important;
}
#course img.card-img-top {
    height: 200px;
}
#course .card-body {
    height: 280px;
}

/* map section  */

#map
{
    margin: 1rem 0;
}

/* footer section start  */

#footer
{
    background-color: #EEF0E5;
    padding: 2rem;
}
#footer h1
{
    font-size: 30px;
}
.category
{
    list-style: none;
    padding-left: 0;
}
.online_platform_icons
{
    font-size: 3rem;
}

.fa-facebook
{
    color: #3b5998;
}
.fa-twitter
{
    color: #55acee;
}
.fa-linkedin
{
    color: #007bb5;
}
.fa-youtube
{
    color: #b00;
}
